name: Build and Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read version
        id: version
        run: echo "version=$(grep '^version' ./Cargo.toml | sed 's/version = //g' | tr -d '\"')" >> $GITHUB_ENV

      - name: Check if release exists
        id: check_release
        run: |
          RESPONSE_CODE=$(curl --write-out "%{http_code}" --silent --output /dev/null "https://api.github.com/repos/$GITHUB_REPOSITORY/releases/tags/v${{ env.version }}")
          if [ "$RESPONSE_CODE" -eq 200 ]; then
            echo "exists=true" >> $GITHUB_ENV
            echo "Release v${{ env.version }} already exists. Exiting."
            exit 1
          else
            echo "exists=false" >> $GITHUB_ENV
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: Build
    needs: check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust:
          - stable
        include:
          - os: ubuntu-latest
            targets: x86_64-unknown-linux-gnu,aarch64-unknown-linux-gnu,i686-unknown-linux-gnu,armv7-unknown-linux-gnueabihf,x86_64-linux-android,aarch64-linux-android,armv7-linux-androideabi,i686-linux-android
          - os: macos-latest
            targets: x86_64-apple-darwin,aarch64-apple-darwin

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.targets }}
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Install dependencies for Linux targets
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-multilib g++-multilib pkg-config libssl-dev libasound2-dev libudev-dev:i386

      - name: Install Android NDK for Android targets
        if: runner.os == 'Linux' && contains(matrix.targets, 'android')
        run: |
          curl -sL https://github.com/android-ndk/ndk/releases/download/r21e/android-ndk-r21e-linux-x86_64.zip -o android-ndk.zip
          unzip android-ndk.zip -d $HOME/
          echo "$HOME/android-ndk-r21e" >> $GITHUB_ENV

      - name: Build
        run: |
          for TARGET in $(echo ${{ matrix.targets }} | tr "," "\n")
          do
            rustup target add $TARGET
            cargo build --release --bin virtualport --target $TARGET
            mv target/$TARGET/release/virtualport target/$TARGET/release/virtualport-$TARGET
          done

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: virtualport-${{ matrix.os }}
          path: target/*/*/virtualport-*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Read version
        id: version
        run: echo "version=$(grep '^version' ./Cargo.toml | sed 's/version = //g' | tr -d '\"')" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.version }}
          name: Release v${{ env.version }}
          draft: false
          prerelease: false
          files: |
            virtualport-*/*/release/virtualport-*
            LICENSE
            VERSION
